<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Transaction Complete</title>
  <!-- include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- include your own CSS styles -->
</head>
<body>
  <!-- container to hold the page content -->
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-6">
        <!-- heading -->
        <h1 class="text-center mb-4">SELL NFT: <%=nftname%></h1>
        <!-- message -->
        <form action="/sell" method="POST">
        <br>
            <br>
         
            <label for="price">Price:</label><br>
            <input type="number" id="price" name="price"  required><br>
            <br>

            <label for="duration">Duration (in days):</label><br>
            <input type="text" id="duration" name="duration" required><br>
            <br>
            <input type="submit" value="Submit">
            <input name="id" type="text" value="<%=nft_id%>" hidden >

          </form> 

        <p class="text-center mb-5">Thank you for using our platform!</p>
        <!-- link to go back to the homepage -->
        <p class="text-center"><a href="/profile" method="GET">Back to your profile</a></p>
      </div>
    </div>
  </div>
</body>
</html>
